MONGO_URI=
JWT_SECRET=
PORT=5000
GEMINI_API_KEY=
GEMINI_MODEL=
GEMINI_TIMEOUT_MS=60000
VNP_TMN_CODE=
VNP_HASH_SECRET=
VNP_URL=https://sandbox.vnpayment.vn/paymentv2/vpcpay.html
VNP_RETURN_URL=http://localhost:5173/payment/result
VNP_IPN_URL=
BANK_CODE=
BANK_ACCOUNT_NO=
BANK_ACCOUNT_NAME=
